@font-face {
	font-family: 'entypo';
	src: url('fonts/entypo.eot?#') format('eot'),
		url('fonts/entypo.svg#entypo') format('svg'),
		url('fonts/entypo.woff') format('woff'),
		url('fonts/entypo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'entypo';
	content: attr(data-icon);
	speak: none;
	text-transform: none !important;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'entypo';
	font-style: normal;
	speak: none;
	text-transform: none !important;
}
.icon-help:before {
	content: "\71";
}
.icon-email:before {
	content: "\63";
}
.icon-home:before {
	content: "\68";
}
.icon-warning:before {
	content: "\69";
}
.icon-settings:before {
	content: "\74";
}
